<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
    <!-- CSS START -->
    <link rel="stylesheet" href="/stylesheets/pages/carsStyle.css" />
    <!-- CSS END -->
</head>

<body>
    <!-- SIDEBAR_ICON START -->
    <%- include("../partials/sidebarIcon"); %>
    <!-- SIDEBAR_ICON END -->
    <div class="box1">
        <header>
            <!-- NAVBAR START -->
            <%- include("../partials/navbar"); %>
            <!-- NAVBAR END -->
        </header>
        <main>
            <!-- SIDEBAR_MENU START -->
            <%- include("../partials/sidebarMenu"); %>
            <!-- SIDEBAR_MENU END -->
            <!-- CONTENT START -->
            <div class="content">

                <!-- <div class="test1"></div> -->
                <!-- <div class="test2"></div> -->

                <div class="upper">
                    <span class="text1">Cars > List Car > </span><span class="text2">Add New Car</span>
                </div>
                <div class="middle">
                    <span>Add New Car</span>
                </div>
                <div class="main">
                    <form action="">
                    </form>
                </div>
                <div class="footer">
                    <button class="cancel">Cancel</button>
                    <button class="submit">save</button>
                </div>
            </div>
            <!-- CONTENT END -->
        </main>
    </div>

</body>

</html>