<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/layouts/head"); %>
    <!-- CSS START -->
    <link rel="stylesheet" href="/stylesheets/pages/dashboardStyle.css" />
    <!-- CSS END -->
</head>

<body>
    <!-- SIDEBAR_ICON START -->
    <%- include("../partials/layouts/sidebarIcon"); %>
    <!-- SIDEBAR_ICON END -->
    <div class="box1">
        <header>
            <!-- NAVBAR START -->
            <%- include("../partials/layouts/navbar"); %>
            <!-- NAVBAR END -->
        </header>
        <main>
            <!-- SIDEBAR_MENU START -->
            <%- include("../partials/layouts/sidebarMenu"); %>
            <!-- SIDEBAR_MENU END -->
            <!-- CONTENT START -->
            <div class="content">
                <div class="kotak"></div>
            </div>
            <!-- CONTENT END -->
        </main>
    </div>
    <!-- JS START -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <!-- JS END  -->
</body>

</html>