<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
    <!-- CSS START -->
    <link rel="stylesheet" href="/stylesheets/pages/dashboardStyle.css" />
    <!-- CSS END -->
</head>

<body>
    <!-- SIDEBAR_ICON START -->
    <%- include("../partials/sidebarIcon"); %>
    <!-- SIDEBAR_ICON END -->
    <div class="box1">
        <header>
            <!-- NAVBAR START -->
            <%- include("../partials/navbar"); %>
            <!-- NAVBAR END -->
        </header>
        <main>
            <!-- SIDEBAR_MENU START -->
            <%- include("../partials/sidebarMenu"); %>
            <!-- SIDEBAR_MENU END -->
            <!-- CONTENT START -->
            <div class="content">
                <div class="kotak"></div>
            </div>
            <!-- CONTENT END -->
        </main>
    </div>
</body>

</html>