.footer {
    margin-top: 50px;
    padding: 20px 100px;
    height: 180px;
    width: 100%;
}

.footer img {
    margin: 10px 10px 0 0;
}

.footer .kotak {
    width: 100%;
    height: 100%;
}

.footer .kotak .box {
    width: 25%;
    height: 100%;
    padding: 0 20px ;
}

.footer .kotak .box.p1 {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}