@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins;
}

body {
    background: #F4F5F7;
    height: 1000px;
}

.ukur1 {
    border: red solid 1px;
    z-index: 9999;
    position: absolute;

    width: 24px;
    height: 24px;
    left: 244px;
    top: 23px;
}

.ukur2 {
    position: absolute;
    /* border: red solid 1px; */
    z-index: 99999;

}

/* NAVBAR START */

.navbar {
    position: absolute;
    height: 70px;
    width: 1370px;
    left: 70px;
    top: 0px;
    background: white;
    box-shadow: 1px;
border: solid red;
}

.navbar .profile {
    width: 143px;
    height: 38px;
    border: #0D28A6;
}

.navbar .search {
    width: 245px;
    height: 36px;
}

.navbar #menu {
    /* position: absolute; */
    width: 24px;
    height: 24px;
    left: 244px;
    top: 23px;
}

.navbar .logo {
    background: #CFD4ED;
    width: 100px;
    height: 34px;
    /* margin-left: 24px; */
}


/* NAVBAR END */

/* SIDEBAR START */

.sidebar {
    background: white;
    width: 290px;
    height: 100vh;
    position: sticky;
    z-index: -1;
}

.sidebar .icon {
    background: #0D28A6;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 70px;
    flex-direction: column;
}

.sidebar .icon .menu {
    height: 64px;
    width: 70px;
    padding: 20px, 23px, 20px, 23px;
}

.sidebar .icon .menu.satu {
    padding-top: 8px;
    margin-bottom: 6px;
}

.sidebar .icon .menu.satu .icon {
    width: 34px;
    height: 34px;
    background: #CFD4ED;
}

.sidebar .icon .menu.dua {
    background: #FFFFFF4D;
    overflow: hidden;
    padding-top: 20px;
    border-radius: 0;
}

.sidebar .icon .menu.dua p {
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5px;
}

.sidebar .icon .menu.tiga {
    overflow: hidden;
    padding-top: 20px;
    border-radius: 0;
    padding-top: 20px;
}

.sidebar .icon .menu.tiga p {
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-top: 5px;
}

/* SIDEBAR END */