<nav>
    <div class="navbar shadow-sm">
        <div class="menu1">
            <div class="logo"></div>
        </div>
        <div class="menu2">
            <img src="/images/fi_menu.png" alt=""></div>
        <div class="menu3">
            <div class="search">
                <div class="input-group">
                    <input type="text" aria-label="First name" class="form-control" placeholder="Search">
                    <button class="btn btn-outline-primary">Search</button>
                </div>
            </div>
            <div class="profile">
                <img src="/images/Dashboard_profile.png" alt="">
                <a class="nav-link" href="#">Unis Badri</a>
                <img src="/images/Dashboard_chevron-down.png" alt="">
            </div>
        </div>
    </div>
</nav>