nav {
    height: 11vh;
    padding: 0 120px;
    display: flex;
}

.profile {
    width: 100px;
    height: 34px;
    background: #0D28A6;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 15px;
    /* border: solid red; */
}

ul {
    display: flex;
    /* border: blue solid; */
    align-items: center;
    width: 500px;
    justify-content: space-between;
}

ul li {
    text-decoration: none;
    list-style: none;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}