@media screen and (min-width:320px) {

    nav {
        padding: 0;
    }

    .home {
        padding: 0 10px;
    }

    .footer {
        padding: 0 10px;
    }

    .boxss {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:768px) {

    nav {
        padding: 0 30px;
    }

    .home {
        padding: 0 30px;
    }

    .footer {
        padding: 0 30px;
    }

    .boxss {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1024px) {

    .boxss {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:1440px) {

    nav {
        padding: 0 100px;
    }

    .home {
        padding: 0 100px;
    }

    .footer {
        padding: 0 100px;
    }

    .boxss {
        grid-template-columns: repeat(4, 1fr);
    }
}